################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PecuniaMobile/v15
/.vs/slnx.sqlite
/Pecunia.Mobile/.vs/Pecunia.Mobile/v15/Server/sqlite3
/Pecunia.Mobile/.vs/Pecunia.Mobile/v15
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile/bin/Debug/netstandard2.0
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile/obj
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile.Android/bin/Debug
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile.Android/obj
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile.iOS/obj
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Mobile.UWP
/Pecunia.Mobile/Pecunia.Data/obj
/Pecunia.Mobile/Pecunia.Data/bin/Debug/netstandard2.0
/Pecunia.Mobile/Pecunia.Mobile/Pecunia.Data/Pecunia.Data/obj
